#wrapper {
	margin-left: 0px;
	vertical-align: bottom;
}

body {
	background: url("http://gloweyone.github.io/unit4/images/grumpycat.jpg") no-repeat;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
	color:#ffffff;
}

h1 {
	margin-top: 600px;
	font-size: 125px;
	text-align: center;
	margin-bottom: 20px;
	letter-spacing: 5px;
}

hr {
	text-align: center;
	width: 100px;
	height: 3px;
	border: none;
	background-color: black;
}

p {
	text-align: center;
	color: black;
	font-size: 35px;
	font-style: italic;
}

a {
	font-color: red;
}