body {
	background: url("http://gloweyone.github.io/unit3/images/stripes.png"), url("http://gloweyone.github.io/unit3/images/background.jpg") #52596B;
	background-repeat: repeat-x, no-repeat;
	font-family: Helvetica, Arial, Serif;
	font-weight: 100;
	color:#ffffff;
}

header {
	margin-top: 200px;
	margin-left: 150px;
	padding-bottom: 20px;
	width: 150px;
	height: 45px;
}

hr {
	margin-left: 150px;
	width: 100px;
	height: 3px;
	border: none;
	background-color: red;

}

p {
	margin-left: 150px;
	
}

a {
	margin-left: 150px;
}